@font-face {
  font-family: "Quentincaps";
  src: url(./fonts/Quentincaps-owxKz.ttf);
}
@font-face {
  font-family: "draconis";
  src: url(./fonts/Draconis-JRw6B.ttf);
}

body {
  background-image: url(./images/dnd\ website\ background.jpg);
  background-repeat:no-repeat;
  background-position: auto;
  background-size: cover;
  background-attachment: fixed;
}
a {font-family: 'draconis';
  font-display: block;
  color: rgb(255, 255, 255);
  font-size: 100%;
}
#garylink {
  font-family: 'draconis';
  font-display: block;
  color: rgb(255, 255, 255);
  font-size: 165%;
}

header {
  font-family: "Quentincaps";
  text-align: center;
  font-size: 385%;
  color: rgb(255, 217, 0)
}
h1 {
  color: rgb(255, 255, 255);
  font-family: 'draconis';
  font-style: italic;
  font-size: 300%;
}
h2 {
  color: white;
  font-family: 'draconis';
  font-style:italic;
  font-size:200%; ;
}
h3 {
  color: white;
  font-family: 'draconis';
  font-style:italic;
  font-size:200%; ; 
}
ul {
  font-size: 200%;
  font-family: 'draconis';
  color:white
}
p{
  font-family: 'draconis';
  font-display: block;
  color: rgb(255, 255, 255);
  font-size: 165%;
  background-color: rgba(236, 11, 11, 0.322);
}
img {
  height: auto;
  width: 25%;
  margin: 0 0 0 15px;
  clear: both;
  float:right
}
#playershandbook {
  size: 15%;
  text-align: left;
  width: 15%;
  float: left;
}
#monstermanual {
  size: 15%;
  text-align: right;
  float: right;
  width: 15%;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}
.column {
  flex: 33.33%;
  padding: 5px;
}